
<style>
    /* input.ng-invalid {
        border: 1px solid red;
    }
    
    input.ng-valid {
        border: 1px solid green;
    } */
    
    .labelInput {
        border: 1px solid rgba(0, 0, 0, 0.2) !important;
    }
    
    .requiredItem {
        color: red;
    }
</style>
<!-- 整体视窗 start-->
<div class="row" id="psdict" ng-controller="psdict" ng-init="init()">

    <!-- 提示框  start-->
    <toaster-container toaster-options="{'position-class': 'toast-center-center', 'close-button':true}"></toaster-container>
    <!-- 提示框 end -->

    <!-- 响应式布局 start -->
    <div class="col-lg-12 col-sm-12 col-xs-12">

        <!-- 带标题的内容区域 start -->
        <div class="well">

            <!-- 标题 start -->
            <!-- <div class="header bordered-pink">数据字典表</div> -->
            <!-- 标题 end -->

            <!-- 条件选择区域 start -->
            <div class="row" id="checkSection">
                <div class="queryBox">
		            <label class="text col-sm-5 control-label no-padding-right no-padding-left"> 
		                <span class="text labelText">类型说明</span>
		            </label>
		            <div class="col-sm-7 select-group-form">
		                <select ng-model="allData[0].filter" style="width: 100%" class="input-sm">
		                	<option value=""></option>
		                    <option ng-repeat="x in querycombo.type" value="{{ x}}">{{x}}</option>
		                </select>
		            </div>
			    </div>
                <!-- 操作按钮区域 start -->
	            <div style="display:block;width:50%;float:left;margin-left:1rem" class="row" id="operSection">
	                <a href="javascript:void(0);" class="btn btn-primary" style="margin-right: 0.5rem" ng-click="query()">查询</a>
	                <a href="javascript:void(0);" class="btn btn-primary" style="margin-right: 0.5rem" ng-click="clear()">取消</a>
	                <s:hasPermission name="psdictAdd">
	                	<a href="javascript:void(0);" class="btn btn-primary" style="margin-right: 0.5rem" ng-click="add('add','psdictForm.html', 'lg')">新增</a>
	                </s:hasPermission>
	                <s:hasPermission name="psdictEdit">
	                	<a href="javascript:void(0);" class="btn btn-primary" style="margin-right:0.5rem" ng-click="edit()">修改</a>
	                	<input type="hidden" value="1" id="editPermit"/>
	                </s:hasPermission>
	                <s:hasPermission name="psdictDelete">
	                	<a href="javascript:void(0);" class="btn btn-primary" style="margin-right: 0.5rem" ng-click="deleteList()">删除</a>
	                </s:hasPermission>
	                <s:hasPermission name="failure">
               			<a href="javascript:void(0);" class="btn btn-primary" style="margin-right: 0.5rem" ng-click="failure()">失效</a>
               		</s:hasPermission>
	                <s:hasPermission name="psdictRecover">
	                	<a href="javascript:void(0);" class="btn btn-primary" style="margin-right: 0.5rem" ng-click="batchcancel()">恢复</a>
	                </s:hasPermission>
	            </div>
	            <!-- 操作按钮区域 end -->
            </div>
            <!-- 条件选择区域 end -->

            <!-- 图表区域 start -->
            <div class="row" style="padding-top: 10px; border-top: 3px solid rgb(87, 181, 227)" id="dataSection">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <table id="table" class="table table-condensed" data-filter-control='true'></table>
                </div>
            </div>
            <!-- 图表区域 end -->
            <script type="text/ng-template" id="psdictForm.html">
                <form class="form-horizontal form-bordered bv-form" id="formid" name="myform" novalidate="novalidate" ng-submit="submit(myform.$valid,$event)">
                    <div class="modal-header">
                        <h3 class="modal-title">数据字典表</h3>
                    </div>
                    <div class="modal-body" id="Modal">
                        <div class="form-group">
                            <div class="col-sm-6" ng-class="{ 'has-error' : myform.value.$invalid }">
                                <label for="value" class="col-sm-2 control-label no-padding-right">数据值</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="value" placeholder="请输入数据值" ng-model="formData.value" required />
                                    <span class="help-block" ng-show="myform.value.$invalid && !myform.value.$pristine">数据值不能为空</span>
                                </div>
                            </div>
                            <div class="col-sm-6" ng-class="{ 'has-error' : myform.lable.$invalid }">
                                <label for="lable" class="col-sm-2 control-label no-padding-right">标签值</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="lable" placeholder="请输入标签值" ng-model="formData.lable" required />
                                    <span class="help-block" ng-show="myform.lable.$invalid && !myform.lable.$pristine">标签值不能为空</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6" ng-class="{ 'has-error' : myform.type.$invalid }">
                                <label for="type" class="col-sm-2 control-label no-padding-right no-padding-left">字典类型索引</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="type" placeholder="请输入字典类型索引" ng-model="formData.type" required />
									<span class="help-block" ng-show="myform.type.$invalid && !myform.type.$pristine">字典类型索引不能为空</span>
                                </div>
                            </div>
                            <div class="col-sm-6" ng-class="{ 'has-error' : myform.typedesc.$invalid }">
                                <label for="typedesc" class="col-sm-2 control-label no-padding-right">类型说明</label>
                                <div class="col-sm-8">
                                    <textarea type="text" class="form-control" name="typedesc" placeholder="请输入类型说明" ng-model="formData.typedesc" required></textarea>
									<span class="help-block" ng-show="myform.typedesc.$invalid && !myform.typedesc.$pristine">类型说明不能为空</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label for="cancelflag" class="col-sm-2 control-label no-padding-right">有效否</label>
                                <div class="col-sm-8 select-group-form" style="padding: 0 15px">
                                    <select ng-model="formData.cancelflag" style="width:100%;" name="cancelflag" reuqired>
										<option ng-repeat="x in combo.cancelflag" value="{{ x.value }}" ng-selected="formData.cancelflag == x.value" >{{x.key}}</option>
									</select>
                                </div>
                            </div>
							<!-- 
							<div class="col-sm-6">
                                <label for="typesort" class="col-sm-2 control-label no-padding-right">排序</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" name="typesort" placeholder="排序" ng-model="formData.typesort" integer/>
                                    <span class="help-block" ng-show="myform.typesort.$error.integer">不是合法的整数！</span>
                                </div>
                            </div>
							-->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-lg btn-palegreen" type="submit">确定</button>

                        <a class="btn btn-lg btn-warning" ng-click="cancel()">取消</a>
                    </div>
                </form>
            </script>
            <script type="text/ng-template" id="confirm.html">
        		<div class="modal-header">
            		<i class="fa fa-warning"></i>
          		</div>
         		<div class="modal-title">确认删除</div>

         		<div class="modal-body">是否确认删除？</div>
         		<div class="modal-footer">
           			<button type="button" class="btn btn-warning" ng-click="ok()">确定</button>
					<button type="button" class="btn btn-warning" ng-click="cancel()">取消</button>
        		</div>
     		</script>
     		 <script type="text/ng-template" id="confirms.html">
        		<div class="modal-header">
            		<i class="fa fa-warning"></i>
          		</div>
         		<div class="modal-title">确认失效</div>

         		<div class="modal-body">是否确认失效？</div>
         		<div class="modal-footer">
           			<button type="button" class="btn btn-warning" ng-click="ok()">确定</button>
					<button type="button" class="btn btn-warning" ng-click="cancel()">取消</button>
        		</div>
     		</script>
        </div>
        <!-- 带标题的内容区域 end -->

    </div>
    <!-- 响应式布局 end -->

</div>
<!-- 整体视窗 end-->

<script src="../static/js/app/controllers/psdict.js"></script>